{% extends 'service/base.html' %}
{% load tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h1 class="card-title">{{ object.name }}</h1>
                    <img class="card-img-top" src="{{ object. | media_filter }}">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ object.description }}</li>
                        <li>- {{ object.employee }}</li>

                    </ul>
                    <a type="button" class="btn btn-sm btn-outline-secondary"
                       href="{% url 'employee:employees' %}">Записаться
                    </a>
                    {% if perm.user.update_service %}
                    <div class="btn-group">
                        <a href="{% url 'service:update-service' object.pk %}"
                           class="btn btn-lg btn-block btn-outline-primary">Править</a>
                    {% endif %}
                    {% if perm.user.delete_service %}
                        <a href="{% url 'service:delete-service' object.pk %}"
                           class="btn btn-lg btn-block btn-outline-danger">Удалить</a>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}