{% extends 'service/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Поликлиника</h1>
    <p class="lead">Запись</p>
    <div class="container">
        <div class="row text-start">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">
                            Выберите дату
                        </h4>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" class="form-floating">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Save</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}