<!doctype html>
{% extends 'service/base.html' %}
{% block content %}
<main>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Профиль</h1>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row text-start">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card mb-6 shadow-sm">
                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data" class="form-floating">
                                    <p class="card-text"></p>
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
