{% extends 'service/base.html' %}
{% load tags %}
{% block content %}
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Пациенты</h1>
                <p class="lead text-body-secondary"></p>
                {% if perms.users.add_user %}
                <p>
                    <a href="{% url 'users:create-user' %}" class="btn btn-primary my-2">Зарегистрировать пациента</a>
                </p>
                {% endif %}
            </div>
        </div>
        <form class="form-inline my-to my-lg-0" action="{% url 'users:users' %}">
            <input class="form control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-sm btn-outline-secondary md-12" type="submit">Поиск</button>
        </form>
    </section>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for object in object_list %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="{{ object.photo | media_filter }}">
                        <div class="card-body">
                            <p class="card-text">{{ object.email }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {% if perms.users.view_user %}
                                    <a type="button" class="btn btn-sm btn-outline-secondary"
                                       href="{% url 'users:detail-user' object.pk %}">Подробности
                                    </a>
                                    {% endif %}
                                    {% if perms.users.change_user %}
                                    <a type="button" class="btn btn-sm btn-outline-secondary"
                                       href="{% url 'users:update-user' object.pk %}">Изменить
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}